<h1 class="animated fadeIn fast">Sobre Comic App</h1>

<hr>

<p class="animated fadeIn">
    Lorem ipsum dolor sit amet, consectetur adipisicing elit. Minima consequuntur quas quidem labore sunt officiis corporis impedit nostrum sed delectus voluptatem nisi quae, nam harum obcaecati? Exercitationem dolor in labore. Lorem ipsum dolor sit amet
    consectetur adipisicing elit. Quam at soluta autem veniam, aliquid sit officiis repellat! Non, maxime in illo laudantium veritatis architecto modi est, ex molestias recusandae consequatur?
</p>